<div class="header">
  <h1>GutCheck</h1>
</div>

<div class="content-body">
  <h2>List of all data:</h2>

  <% @all_checks.each do |g| %>
    <div>
        GutCheck created at: <%= g.created_at %>
          <ul>
            <li>Rating:      <%= g.overall %></li>
            <li>Comment:     <%= g.adjective %></li>
          </ul>
    </div>

    <% if @gut_check.errors.any? %>
      <% @gut_check.errors.each do |column, message| %>
        <ul>
          <li>
            <strong>Section <%= column.capitalize %>:</strong> <%= message %>
          </li>
        </ul>
      <% end %>
    <% end %>

    <form action="/<%= g.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete this GutCheck" data-confirm:"Are you sure?">
    </form>

    <br>
    <br>
  <% end %>

  <h2>Submit a new GutCheck</h2>
    <form action="/" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        <label for="rating">Rating:</label>
        <input type="float" id="rating" name="rating" placeholder="required"></input>
        <br>
        <label for="comment">Comment:</label>
        <input type="text" id="comment" name="comment" placeholder="optional"></input>
        <br>
        <input type="submit" value="Submit New GutCheck">
    </form>
</div>

<div class="footer">
  
</div>
