<h1>GutCheck</h1>

<h2>List of all data:</h2>

  <% @all_checks.each do |g| %>
    <ul>
        Check #<%= g.id %>
          <ul>
            <li>Created:     <%= g.created_at %></li>
            <li>Rating:      <%= g.overall %></li>
            <li>Comment:     <%= g.adjective %></li>
          </ul>
    </ul>
  <% end %>

<%= link_to "add", enter_stat_path %>
