<div class="page-header">
  <div class="header-container">
    <h1> GutCheck</h1>
  </div>
</div>

<div class="container_12 clearfix">
  <table id="table" class="tablesorter">
    <thead>
      <tr>
        <th class="grid_1 date-column" id="sort">Date <%= image_tag("sort.png", class: "sort-button") %></th>
        <th class="grid_1 time-column">Time</th>
        <th class="grid_1 rating-column">Rating</th>
        <th class="grid_4 comment-column">Comment</th>
      </tr>
    </thead>
    <tbody>
      <% @all_checks.each do |g| %>
      <tr class="row">
        <th class="grid_1 date-row">    <%= g.created_at.localtime.strftime("%m/%d").downcase %></th>
        <td class="grid_1 time-row">    <%= g.created_at.localtime.strftime("%l:%M%p").downcase %></th>
        <td class="grid_1 rating-row">  <%= g.rating    %></td>
        <td class="grid_4 comment-row"> <%= g.comment  %></td>
        <td class="grid_2 edit-form" >
          <a href=# class="edit-toggler">Edit</a>
          <form action="/<%=g.id%>" method="POST">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
              <input type="hidden" name="_method"            value="PATCH">
              <input type="text"   name="gut_check[rating]"  value=" <%= g.rating %>">
              <input type="text"   name="gut_check[comment]" value=" <%= g.comment %>">
              <input type="submit" value="Update">
              <input type='button' value="Cancel" class="cancel">
            </form>
        </td>
        <td class="grid_1">
          <form action="/<%=g.id%>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="delete-button" value="Delete" data-confirm:"Are you sure?">
          </form>
        </td>
      <% end %>
      </tr>
      <td class="grid_2">
        <strong>Average Rating:</strong>
      </td>
      <td class="grid_1 average">
        <%= @all_averages %>
      </td>
    </tbody>


  </table>

  <div class="grid_4 push_4 submit-container">
    <h2 class="submit-toggler">Submit a new GutCheck</h2>

      <div class="submit-form-container" id="submit-anchor">
        <%= form_for @gut_check do |f| %>
          <div>
            <%= f.label      :rating %>
            <%= f.text_field :rating %>
          </div>
          <div>
            <%= f.label      :comment %>
            <%= f.text_field :comment %>
            <%= f.submit id: :submit_gc %>
          </div>
        <% end %>

      </div>
      <div class="errors">
        <% if @gut_check.errors.any? %>
          <% @gut_check.errors.each do |column, message| %>
            <ul class="error-list" id=error-anchor>
              <li>
                <strong>Section <%= column.capitalize %>:</strong> <%= message %>
              </li>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <!-- <div class="footer">
    <h2>FooterFooterFooter</h2>
  </div> -->
