<div class="header">
  <div class="header-container">
    <h1> GutCheck</h1>
  </div>
</div>

<div class="container_12 clearfix">
  <table id="table" class="grid_12 table collapse">
    <thead class="grid_12 table-head">
      <tr>
        <th class="grid_2">Date</th>
        <th class="grid_2">Time</th>
        <th class="grid_2">Rating</th>
        <th class="grid_4">Comment</th>
      </tr>
    </thead>
    <tbody>
      <% @all_checks.each do |g| %>
      <tr class="row">
        <th class="grid_2"> <%= g.created_at.localtime.strftime("%m/%d").downcase %></th>
        <td class="grid_2"> <%= g.created_at.localtime.strftime("%l:%M%p").downcase %></th>
        <td class="grid_2"> <%= g.rating    %></td>
        <td class="grid_4"> <%= g.comment  %></td>
        <td class="grid_1">
          <form action="/<%= g.id %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" data-confirm:"Are you sure?">
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>

    <% if @gut_check.errors.any? %>
      <% @gut_check.errors.each do |column, message| %>
        <ul>
          <li>
            <strong>Section <%= column.capitalize %>:</strong> <%= message %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </table>

  <div class="grid_6 push_3 submit-container">
    <h2>Submit a new GutCheck</h2>

      <div class="submit-form-container">
        <%= form_for @gut_check do |f| %>
          <div>
            <%= f.label      :rating %>
            <%= f.text_field :rating %>
          </div>
          <div>
            <%= f.label      :comment %>
            <%= f.text_field :comment %>
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="footer">
    <h2>FooterFooterFooter</h2>
  </div>
